<div class="p-3" x-data="{ expanded: false }">
  <div class="flex items-center gap-2" x-on:click="expanded = !expanded">
    <span class="font-mono font-bold">
      <%= name %>
    </span>

    <span class="text-sm text-neutral-500">
      <%= type.jsontype %>
    </span>

    <% if type.has_details? || type.description.present? %>
      <div class="record__summary__expand">
        <span x-show="expanded">&#9650;</span>
        <span x-show="!expanded">&#9660;</span>
      </div>
    <% end %>
  </div>

  <% if type.has_details? || type.description.present? %>
    <div class="mt-2" x-show="expanded">
      <% if (description = type.description) %>
        <div class="text-neutral-600">
          <%= description %>
        </div>
      <% end %>

      <% if type.has_details? %>
        <div class="record__subtype">
          <%= type_render type %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>