<h1 id="<%= page.anchor %>"><%= page.title %></h1>

<div class="">
  <%= page.description_html %>
</div>

<div class="params">
  <% page.params_properties.each do |property| %>
    <div class="param">
      <%= property.name %>
    </div>
  <% end %>
</div>