The following values are accepted:

<div class="inline-flex flex-wrap gap-2">
  <% Explicit::Type::Agreement::VALUES.each do |value| %>
    <code class="font-mono text-xs bg-neutral-200 p-px"><%= value.inspect %></code>
  <% end %>
</div>