<p>
  A string-encoded decimal number. For example: <code>"123.45"</code>.
</p>

<%= type_constraints do %>
  <%= type_constraint "min:", type.min if type.min.present? %>
  <%= type_constraint "max:", type.max if type.max.present? %>
<% end %>
