<p>
  This API documentation serves as an example of the Explicit gem.<br/>
  
  You can find the source code and complete documentation at <a class="text-blue-600 underline" href="https://github.com/luizpvas/explicit" target="_blank">the github repo</a>.
</p>